@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-srcollbar::-webkit-scrollbar{
    height: 8px important!;
    width: 8px;
}

.custom-srcollbar::-webkit-scrollbar-thumb{
    background: #2a3942;
}
