@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-srcollbar::-webkit-scrollbar{
    height: 8px important!;
    width: 8px;
}

.custom-srcollbar::-webkit-scrollbar-thumb{
    background: #2a3942;
}

.chat-menu{
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
}

.chat-container:hover .chat-menu{
    opacity: 1;
    visibility: visible;
} 

.chat-menu__icon:hover{
    transition: all 0.4s ease;
    background-color: azure;
    color: black;
} 
